@media (max-width: 901px) {
  .home {
    .center-text {
      width: 100%;
      font-size: 25px;
      margin-top: 115px;
    }
    .center-cards {
      margin-top: 70px;
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        border-radius: 20px;
      }
      gap: 20px;
      .right-box,
      .left-box {
        height: 400px;
        width: 240px;
        border-radius: 20px;
        img {
          border-radius: 30px;
          height: 100%;
          width: 100%;
          object-fit: cover;
          background-position: center;
        }
      }
      .center-box {
        .box-1,
        .box-2 {
          height: 190px;
          width: 240px;
          background: #d9d9d9;
          border-radius: 30px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .home {
    .center-text {
      font-size: 22px;
    }
    .center-cards {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .right-box,
      .left-box {
        height: 206px;
        width: 100%;
      }
      .center-box {
        width: 100%;
        display: flex;
        gap: 20px;
        .box-1,
        .box-2 {
          height: 206px;
          width: 50%;
          background: #d9d9d9;

          img {
            height: 100%;
            width: 100%;
          }
        }
        .box-2 {
          margin-top: 0;
        }
      }
      .left-box {
        .card-box {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          .text {
            width: 70%;
            font-size: 16px;
          }
          .circle-span {
            width: 65px;
            height: 65px;
            .userIcon {
              font-size: 50px;
            }
          }
        }

        button {
          width: 15rem;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .home {
    margin-top: -55px;
    .center-text {
      font-size: 16px;
    }

    .center-cards {
      gap: 12px;
      .right-box,
      .left-box {
        height: 160px;
        width: 100%;
      }
      .center-box {
        gap: 12px;
        .box-1,
        .box-2 {
          height: 125px;
        }
      }
      .left-box {
        .card-box {
          .text {
            margin-top: -20px;

            font-size: 12px;
          }
          .circle-span {
            width: 40px;
            height: 40px;
            .userIcon {
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .home {
    .center-text {
      font-size: 14px;
    }
    .center-cards {
      margin-top: 25px;
      gap: 12px;
      .right-box,
      .left-box {
        height: 160px;
        width: 100%;
      }
      .center-box {
        gap: 12px;
        .box-1,
        .box-2 {
          height: 105px;
        }
      }

      .left-box {
        .card-box {
          .text {
            width: 70%;
            height: 50%;
            font-size: 12px;
          }
        }
      }
    }
  }
}
