.goto-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  position: relative;
}

.goto-products {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .bottomline {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 25px;
  }
}

.goto-card {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;

  button {
    bottom: 10%;
    left: 20%;
    width: 11rem;
    height: 2.5rem;
    margin: 0 10%;
  }
}

.goto-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  height: 100%;
  img {
    width: 326px;
    height: 224px;
    border-radius: 10px;
    object-fit: cover;
  }

  .goto-info {
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }

  .goto-about {
    height: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.goto-inner {
  width: 35%;
  display: flex;
  justify-content: space-around;
  height: 216px;
  .goto-shop {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h4 {
      font-style: normal;
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 24px;
    }

    ul {
      list-style-type: none;
      font-size: 1.1rem;
      font-weight: 500;
      cursor: pointer;
      li {
        margin: 12px 0;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}

@media (max-width: 1077px) {
  .goto-inner {
    width: 40%;
  }
}

@media (max-width: 830px) {
  .goto-wrapper {
    width: 40%;
    img {
      width: 225px;
    }
  }
}

@media (max-width: 736px) {
  .goto-card {
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    align-items: center;

    text-align: start;
    height: 500px;
    img {
      width: 80%;
      height: 176px;
    }

    button {
      position: absolute;
      width: 95%;
      height: 45px;
      left: 0%;
      right: 0%;
      bottom: -10px;
      margin: auto;
    }
  }

  .goto-wrapper {
    flex-direction: column;
    width: 100%;
    align-items: center;

    .goto-info {
      justify-content: start;
      height: 80px;
    }
  }

  .goto-info {
    width: 80%;
  }

  .goto-inner {
    width: 80%;
    position: absolute;
    bottom: 2%;
    gap: 2px;
    justify-content: space-between;
    h4 {
      line-height: 5px;
    }
    ul {
      padding: 0;
      line-height: 0;
    }
  }


}

@media (max-width: 503px) {
  .goto-card {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .goto-wrapper {
    width: 100%;
  }

  .goto-info,
  .goto-inner {
    width: 100%;
  }

  .goto-inner {
    width: 80%;
    left: 0;
  }
}
